body, html {
  height: 100%;
  display: flex;
  width: 100%;
  margin: 0;
}

h2 {
  font-weight: 300;
}
h3{
  font-style: italic;
}
object {
  width: 100%;
}
p{
  font-size: 20px;
}

input[type="file"]{
  width:180px; 
  padding:10px;
  margin: 10px 0;
}

.container {
  width: 80%;
  margin: auto;
  text-align: center;
  transition: .5s all;
  display: none;
}

#signOut {
  position: fixed;
  top: 10px;
  right: 10px;
  margin: 0;
}

#drop_zone {
  border-radius: 30px;
  border: 3px solid black;
  /* box-shadow: 10px 10px black; */
  background: #0079d32e;
  /* padding: 20px; */
  margin-top: 20px;
  position: relative;
  overflow: hidden;
  transition: .5s max-height;
  max-height: 200px;
}
#progress_bar{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0%;
  background-color: #89e889;
  transition: .2s all;
}
/* Stuff imported */

button {
  margin: 30px 0 0 0;
  width: 200px;
  height: 50px;
  font-size: 30px;
  background: #0079D3;
  color: white;
  border: none;
}

button:disabled {
  background: #e0f2ff;
  cursor: default;
}

button:hover:enabled {
  background: #7fbce9;
  cursor: pointer;
}
#rolled{
  display: flex;
  position: fixed;
  z-index: 5000;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}
.loading-anim {
  height: 100px;
  width: 100px;
  display: inline-block;
  margin: auto;
  border: solid 4px lightgray;
  border-left-color: rgba(3, 155, 229, 1);
  border-top-color: rgba(3, 155, 229, 1);
  animation: rotate 600ms infinite linear;
  border-radius: 50%;
}
@keyframes rotate {
  to {
    transform: rotate(1turn);
  }
}
.loading-container p{
  margin-top: 10px;
}
.loading-container{
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
#check {
  right: 40px;
  position: absolute;
  margin: auto;
  transform: rotate(45deg) translate(-10px, -10px);
  height: 100px;
  width: 50px;
  border: solid 6px darkseagreen;
  border-top: transparent;
  border-left: transparent;
  z-index: -1;
}
#holder {
  margin: auto;
  width: 125px;
  height: 100px;
  position: relative;
}
#hider {
  height: 100px;
  position: absolute;
  margin: auto;
  width: 130px;
  background: white;
  animation: show 600ms linear 0.1s;
  animation-fill-mode: forwards;

  top: 0;
  right: 0;
}
@keyframes show {
  0% {
    width: 125px;
  }
  10% {
    width: 125px;
  }

  100% {
    width: 0px;
  }
}
video{
  position: fixed;
  top: 0;
  left: 0;
  background:black;
  z-index: 1000;
}