body {
  margin: 0px;
  text-align: center;
  display: flex;
  justify-content: center;
  height:100%;
}

h3 {
  margin: 10px;
}

h1 {
  margin: 3px;
}

html {
  height: 100%;
}

#side-panel {
  transform: translate(0px, -50%);
  position: absolute;
  height: 100%;
  width: 250px;
  margin: 0px 20px;
  /* padding: 10px 30px; */
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 5px solid black;
  transition: .4s background;
}
#side-panel-buttons{
  padding: 20px;
  border-bottom: black 3px solid;
  align-content: center;
  display: flex;
  justify-content: center;
}
button{
  margin: 0px 10px !important;
  display:none;
}
#notice-text{
  margin-top:10px;
  display:none;
}
#main-content {
  margin: auto;
  display: flex;
  align-items: center;
  position: relative;
}